<form method="post" action="{{ path('app_picture_animal_delete', {'id': picture_animal.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture_animal.id) }}">
    <button class="btn">Delete</button>
</form>
