{% extends 'base.html.twig' %}


{% block body %}

	{% block sidebar %}
		{% include "_partials/_admin_sidebar.html.twig" %}
	{% endblock %}

    {% block content %}
        <h2>Content</h2>
    {% endblock %}

{% endblock %}
